language: cpp
compiler: mpic++
before_install:
  - test -n $CC  && unset CC
  - test -n $CXX && unset CXX
  - sudo apt update
  - sudo apt install -y tree openssh-client openssh-server openmpi-bin openmpi-common libopenmpi-dev libmetis-dev
script: 
  - make VERIFY=true
  - ./bin/euler3D
  - make clean
  - make
before_script: 
after_script:  make clean
before_script: